
* {

    box-sizing: border-box;

}
@font-face {
    font-family: myFont;
    src: url("/fonts/RusticRoadway.otf") format("opentype");
}

* {
    box-sizing: border-box;
 }
/* html style */
html {

    background-image: url("/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* body style */
body {
    border: 2px solid black;
    width: 1200px;
    background-color: white;
    padding: 2px;
    margin: 0 auto;
}
/* header style */

header {

    /* background-color: lightcyan; */
    border-bottom: 2px solid black;
    height: 220px;
    background-image: linear-gradient(45deg, white, pink, red, black);
    /* position: sticky;
    top: 0px; */
}

/* website logo style */

header img {

    width: 90px;
    height: 90px;
    border-radius: 50%;
    float: left;
    /* margin: 40px; */
}

/* header headings */

header h1 {

    color: darkcyan;
    font-family: myFont;
    /* font-family:'Times New Roman', Times, serif; */
    font-size: 30px;
    font-style:italic;
    text-align: left;
    padding: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

header h2 {

    color: darkcyan;
    font-family:Arial, Helvetica, sans-serif;
    text-align: left;
    padding: 10px;
}

/* main style */

main section img#feature {

    width: 400px;
    height: 300px;
    margin:10px auto;
    display: block;
}

.intro {

    border: 2px solid red;
    background-color: azure;
}

nav ul {

    list-style-type: none;
}

nav ul li {

    display: inline;
    margin: 20px;
}

nav ul li a {

    font-size: 23px;
    color: darkgreen;
    
}

nav ul li a:link {

    color: blueviolet;
}

nav ul li a:visited {

    color: red;
}

nav ul li a:hover {

    color: darkmagenta;
    text-decoration: underline;
}
nav ul li a:active {

    color: yellowgreen;
    text-decoration: none;
}

body p {


    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    color: darkred;
}

a {

    color: blue;
    text-decoration: none;
    font-size: 17px;
}


/* table style */


table {
    border: 2px solid black;
    width: 50%;
    margin: 10px auto;
    border-collapse: collapse;
}

caption {

    font-family:Arial, Helvetica, sans-serif;
    color: red;
    font-style: italic;
    font-size: 23px;
    text-shadow: 13px 3px 15px #db4d4d;    
}

th, td {

    border: 2px solid black;
    font-size: 20px;
}
tr:hover {

    background-color: beige;
}
tr:first-child {

    color: purple;
}

td:last-child{
    background-color: lightpink;
}

tr:nth-child(2) {

    background-color: lightskyblue;
}

td:nth-of-type(3) {

    color: darkgray;
}

/* position style */

div#first {

    margin: 50px;
    width: 300px;
    height: 300px;
    background-color: blueviolet;
    border: 2px solid blue;
    position: relative; 
    left: 120px;
    top: 30px; 


}

div#child {

    width: 100px;
    height: 100px;
    background-color: aqua;
    position: absolute;
    top: 50px;
    left: 100px;
}
/* footer style */

footer {

    background-color: lightred;
    height: 170px;
    border-top: 2px solid black;
    background-image: linear-gradient(45deg, black, red, pink, white);
    position: fixed;
    top: 80px;
}

footer p{

    text-align: center;
    font-size: 20px;
}

footer p a {

    text-decoration:underline;
}

