/* html root style */
html {

    background-image: url("../images/background.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-clip: content-box;
}

/* body style */
body {
    width: 850px;
    background-color: white;
    border: 6px double black;
    margin: 0px auto;
}

/* header style */
header {

    height: 120px;
    border-bottom: 2px solid black;
    background-image: linear-gradient(45deg, yellow, lightcyan, yellowgreen, violet);
}
/* main nav bar */
nav ul {

    background-color: lightcyan;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

nav ul li {

    float: left;
    margin-left: 30px;
}

nav ul li a {

    display: block;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

nav ul li a.active {

    background-color: aquamarine;
}

nav ul li a:not(.active):hover {

    background-color: #c2c233;
}

/* website logo style */
header img {

    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
    margin-left: 20px;
    padding: 20px;
    
}

header h1 {

    margin-left: 100px;
    padding: 30px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    text-shadow: 3px 3px 3px black;
    color: #655d51;
}
/* main area of the page */

main {

     padding: 3px;
}

main section iframe {

    width: 500px;
    height: 300px;
    margin: 20px auto;
}

/* featured image style */

main section img {

    width: 400px;
    height: 300px;
    margin: 20px auto;
    display: block;
}

/* table style */

table, th, td {

    border: 2px solid black;
}
table {

    border-collapse: collapse;
    width: 70%;
    margin: 23px auto;
}

table tr:hover {


      background-color: bisque;
}

table caption {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 27px;
}

/* iframe style */
 main section iframe {

    /* margin: 20px auto; */
    display: block;
    float: right;
}

/* video style */
video {

    margin: 15px auto;
    width: 300px;
    height: 300px;
    display: block;
}

/* footer style */

footer {

    height: 120px;
    border-top: 2px solid black;
    text-align: center;
    background-image: linear-gradient(45deg, violet, yellowgreen, lightcyan, yellow);
}
