header {

    height: 160px;
    background-image: linear-gradient(45deg, white, yellow, blaxck);
    border-bottom: 2px solid black;
}

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightgreen;
    overflow: hidden;
}

nav ul li {

    float: left;
}

nav ul li a, .dropbtn {

    color: darkolivegreen;
    display: inline-block;
    padding: 8px 10px;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover, .dropdown:hover .dropbtn {

    background-color: lightgray;
}

li.dropdown {

    display: inline-block;
}

.dropdown-content {

    display: none;
    position: absolute;
    background-color: lightpink;
    box-shadow: 1px 0px 1px 0px red;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {

    display: block;
    color: black;
    padding: 8px 10px;
    text-align: left;
    text-decoration: none;

}

.dropdown-content a:hover {

    background-color: lightgoldenrodyellow;
}

.dropdown:hover .dropdown-content {

    display: block;
}