/* font-face rule */
@font-face {
    font-family: myFont;
    src: url("fonts/") format("truetype");
}

/* header style */
header {

    height: 160px;
    background-color: lightcyan;
    border-bottom: 2px solid black;
}

/* style of website logo */

header img {

    border-radius: 50%;
    margin: 10px;
    float: left;
}

/* main navigation menu bar style */

nav ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
    
}

nav ul li {

    float: left;
}

nav ul li a, .dropbtn {

    display: inline-block;
    padding: 8px 10px;
    color: darkmagenta;
    text-decoration: none;
    text-align: center;
}

nav ul li a:hover, .dropdown:hover .dropbtn {

    background-color: lightskyblue;
}

li.dropdown {

    display: inline-block;

}

.dropdown-content {

    display: none;
    position: absolute;
    box-shadow: 1px 0px 0px 1px red;
    background-color: lightgray;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {

    display: block;
    padding: 8px 10px;
    color: white;
    text-decoration: none;
    text-align: left;
}

.dropdown-content a:hover {

    background-color: lightsalmon;
}

.dropdown:hover .dropdown-content {

    display: block;
}

/* style for grid container */

section#grid-container {

     display: grid;
     background-color: lightgray;
     grid-template-areas: 'myArea myArea myArea ...';
     align-content: end;
     padding: 10px;
     margin: 30px;
     column-gap: 0px;


}

.grid {
    background-color: lightsalmon;
    border: 2px solid blue;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.item-1 {

    grid-column: 1 / 3;
}

.item-3 {

   grid-area: myArea;
}





