html {

    background-color: yellow;
}

body {

    width: 900px;
    background-color: white;
    border: 5px double black;
}

header {


    height: 200px;
    border-bottom: 2px solid blue;

}

main {

    border: 1px solid gray;
    padding: 4px;
    margin: 2px;
}
 p {

    font-size: 30px;
    color: blue;
 }

 h1 {
    font-style: italic;
 }

 img {

    border: 2px solid pink;
    float: left;
 }

 footer {

    height: 200px;
    border-top: 2px solid black;
    text-align: center;
 }