@font-face {
    font-family: myFont;
<<<<<<< HEAD
    src: url("../fonts/GreatVibes-Regular.ttf") format("truetype");
}

/* html style */
html {

    background-image: url("../images/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
=======
    src: url("../fonts/BlackThick.otf") format("opentype");
}
/* html style */
html {

   background-image: url("../images/background.jpg");
   background-position: center;
   background-size: cover;
>>>>>>> 1c69d9b (nov24-update)
}

/* body style */
body {

    width: 900px;
    width: 850px;
<<<<<<< HEAD
    background-color: white;
    border: 2px solid black;
    margin: 0px auto;

=======
    border: 2px solid black;
    background-color: white;
    margin: 0px auto;
    box-shadow: 4px 5px 10px 4px black;
>>>>>>> 1c69d9b (nov24-update)
}

/* header style */
header {

    height: 120px;
    border-bottom: 2px solid black;
<<<<<<< HEAD
    background-image: linear-gradient(45deg, yellow, pink, red, blue);
}

/* website logo */

header img {
    width: 80px;
    height: 90px;
    float: left;
    border-radius: 50%;
    margin: 5px;

=======
    position: sticky;
    top: 1px;
    background-color: burlywood;
    background-image: linear-gradient(45deg, black, blue, red, pink, yellow, white);

}

/* website logo style */
header img {

    width: 80px;
    height: 80px;
    float: left;
    border-radius: 50%;
    margin: 15px;
>>>>>>> 1c69d9b (nov24-update)
}

/* title inside header style */

header h1 {

<<<<<<< HEAD
    color: blueviolet;
    margin-left: 120px;
    text-shadow: 2px 4px 7px yellowgreen;
    padding: 20px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    font-family: myFont;
     
  

}

/* main nav bar */
nav ul {

    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    overflow: hidden;

=======
    color: blue;
    margin-left: 120px;
    padding: 20px;
    text-shadow: 4px 5px 6px red;
    font-family: myFont;

}

/* main nav bar style */
nav ul {

    background-color: lightcyan;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
>>>>>>> 1c69d9b (nov24-update)
}

nav ul li {

<<<<<<< HEAD
   float: left;
    /* margin: 15px; */
=======
    float: left;
>>>>>>> 1c69d9b (nov24-update)
}

nav ul li a {

<<<<<<< HEAD
    display: block;
    padding: 12px 16px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
=======
    display:block;
    padding: 14px 20px;
    color: black;
    font-size: 23px;
    text-decoration: none;
    text-align: center;
>>>>>>> 1c69d9b (nov24-update)
}

nav ul li a:not(.active):hover {

<<<<<<< HEAD
    background-color: bisque;
}

nav ul li a:active {

    text-decoration: underline;
}

nav ul li a:visited {

    color: purple;
=======
    background-color: blueviolet;
>>>>>>> 1c69d9b (nov24-update)
}

nav ul li a.active {

<<<<<<< HEAD
    background-color: aqua;
}

h1::first-letter {

    font-size: 45px;
}

p::first-line {

    color: darkmagenta;
}

img::after {

    background-color: yellow;
    /* content: "Remember this"; */
}

/* sidebar style */
aside {

    border: 2px solid black;
}

/* table style */
table {
    width: 70%;
    margin: 10px auto;
    border-collapse: collapse;
    box-shadow: 4px 6px 10px 4px red;


}
=======
     background-color: bisque;
}

/* main style */
main {

    padding: 4px;
}

main article img {
    width: 500px;
    height: 300px;
    margin: 10px auto;
    display: block;
}

/* table style */

table {

    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
}

table caption {

    color: red;
    font-size: 23px;
    font-weight: 900;
}

>>>>>>> 1c69d9b (nov24-update)
table, th, td {

    border: 2px solid black;
}

<<<<<<< HEAD
table caption {

    font-weight: 600;
    font-family:'Times New Roman', Times, serif;
    color: blue;
    font-size: 25px;

}

table tr:hover {
    background-color: lightgray;
}

table tr td:first-child {

    color: red;
    text-align: center;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

table tr td:last-child {

    border: 2px solid blue;
    font-size: 34px;
}

table tr td:nth-child(3){

    font-family: Arial, Helvetica, sans-serif;
}

 div:nth-of-type(2) {

    border: 2px solid red;
    width: 700px;
    height: 300px;
    background-color: azure;
}

p#first {

    color: blue;
    font-family: Arial, Helvetica, sans-serif;
}

/* main style */

main {
    padding: 6px;
}

main article img {

    width: 500px;
    height: 300px;
    opacity: 0.7;
    margin: 10px auto;
    display: block;
    filter: drop-shadow(13px 15px 10px yellowgreen);
}

/* ifarme style */

main div iframe {

    margin: 20px auto;
    display: block;
    width: 500px;
    height: 300px;
}

main ul#list {

    background-color: blanchedalmond;
    list-style-type: square;
    padding: 20px;
    list-style-position: inside;
}

main ul#list li {

    background-color: azure;
    color: darkgreen;
    padding: 5px;
    margin: 6px;
}

section#para {

    width: 300px;
    height: 300px;
    background-color: aquamarine;
    border: 2px solid blue;
    transform: translate(-20px, -40px);
    transform: rotate(-20deg);
    transform: scale(2,0.5);
    transform: skew(20deg, 30deg);
}

section#move {

    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    transition: width 3s, height 2s, transform 4s;
    /* transition-duration: 4s; */
    transition-delay: 1s;
    transition-timing-function: ease-out;
}

section#move:hover {

    /* width: 400px; */
    /* height: 500px; */
    transform: rotateY(360deg);
}
section#animated {

    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid blue;
    position: relative;
    animation-name: test;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: 3;
    animation-direction: alternate-reverse;
}

@keyframes test {

    0% {

        background-color: blueviolet;
        left: 30px;
        top: 40px;

    }

    25% {

        background-color: coral;
        left: 230px;
        top: 40px;
    }

    50% {

        background-color: red;
        left: 230px;
        top: 340px;
    }

    75% {
        background-color: blue;
        left: 30px;
        top: 340px;

    }

    100% {

        background-color: pink;
        left: 30px;
        top: 40px;
    }
   
}

/* flexbox style */

section#flex {

    background-color: aquamarine;
    width: 900px;
    height: 800px;
    border: 2px solid blue;
    display: flex;
    margin: 350px 0px;
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap-reverse; */
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}


section#flex div.item {

    background-color: azure;
    width: 100px;
    height: 100px;
    border: 2px solid black;
    text-align: center;
    
}
section#flex div.item-1 {

    background-color: red;
    order: 5;
    flex-basis: 320px;
}

section#flex div.item-2 {

    background-color: yellow;
    order: 4;
    flex-grow: 2;
}


section#flex div.item-3 {

    background-color: pink;
    order: 1;
}


section#flex div.item-4 {

    background-color: purple;
    order: 2;
    flex: 2 3 100px;
}




/* footer style */

=======
table tr:hover {

    background-color: azure;
}

table tbody tr td:last-child {

    background-color: azure;
}

table thead tr th:last-child {

    color: red;
}

table tbody tr td:nth-child(2) {

    font-size: 25px;
}

main section:nth-of-type(2) {

    border: 2px solid blue;
    background-color: azure;
}

/* flexbox style */
section#flex {

    width: 850px;
    height: 600px;
    background-color: azure;
    border: 2px solid blue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: column wrap; */
    justify-content: space-around;
    align-items: center;
    align-content: space-evenly;
    margin: 50px;
}

.item {

    width: 100px;
    height: 100px;
    background-color: pink;
    border: 1px solid black;
    text-align: center;
}

.item2 {

    background-color: blueviolet;
    order: 10;
    flex-basis: 120px;
    /* flex-grow: 2; */
    align-self: center;
}

.item3 {

    background-color: blanchedalmond;
    order: 4;
    flex-shrink: 2;
    flex: 0 2;
}

/* position style */

div#position {
    width: 600px;
    height: 400px;
    background-color: lightgreen;
    border: 2px solind blue;
    position: relative;
    bottom: 20px;
    right: 150px;

}

div#child {

    width: 200px;
    height: 200px;
    background-color: aquamarine;
    position: absolute;
    top: 105px;
    right: 30px;
}


h1::first-letter {

  font-size: 45px;
  color: red;
}
/* 
p::first-line {

    color: purple;
} */

/* iframe style  */
iframe {

    margin: 10px auto;
    display: block;
    box-shadow: 4px 5px 10px red;
}

/* multiple column style */
section#multiple {

    margin: 50px 0px;
    background-color: azure;
    border: 1px solid blue;
    column-count: 3;
    column-gap: 10px;
    column-rule: 3px solid red;
    padding: 7px;
}

section#multiple h2 {

    column-span: all;
    text-align: center;
}

section#transform{

    background-color: azure;
    width: 200px;
    height:  200px;
    border: 2px solid purple;
    margin: 60px 0px;

}

section#animated {

    background-color: blue;
    width: 120px;
    height: 120px;

}

/* footer style */
>>>>>>> 1c69d9b (nov24-update)
footer {

    height: 120px;
    border-top: 2px solid black;
    text-align: center;
<<<<<<< HEAD
    background-image: linear-gradient(45deg, blue, red, pink, yellow);
}

/* CSS media queries */
@media screen and (max-width: 800px){

    body {

        background-color: aquamarine;
=======
    position: relative;
    top: 150px;
    width: 850px;
    /* background-color: lightpink; */
    background-image: linear-gradient(45deg, white, yellow, pink, red, blue, black);
}

/* media queries for pages */

@media only screen and (max-width: 800px){

    html {

        background-image: none;
    }

    body {

        background-color: aqua;
        box-shadow: none;
        
    }

    p {

        font-size: 0.7em;
    }
}

@media only screen and (min-width: 567px) {

    html {

        background-image: url(/images/sunset.jpg);
    }

    body p, section#multiple {

        font-size: 1.7em;
>>>>>>> 1c69d9b (nov24-update)
    }
}
